# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
venv/
.env

# HuggingFace models
.cache/
*.safetensors

# Chroma DB
chroma/
db/

# Node
node_modules/
dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/